.footer {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    text-align: center;
}

.footer .footerContainer {
    /*border: 1px solid red;*/
    width: 80%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer .footerContainer .sns {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer .footerContainer .sns .sn {
    width: 50px;
    height: 50px;
    background: #202020;
    padding: 35px 0;
    border: 2px double #d728d7;
    border-radius: 22px;
    transform: rotate(15deg);
    z-index: 2;
}

.footer .footerContainer .sns .sn:hover {
    /*filter: saturate(900%);*/
    filter: hue-rotate(270deg);
    transform: rotate(0);
}

.footer .footerContainer .sns .sn img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 700px) {
    .footer .footerContainer .sns {
        width: 90%;
    }
}