.works {
    position: relative;
    min-height: 90vh;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;

}

.works .a {
    position: absolute;
    top: -60px;
}

.works .worksContainer {
    /*border: 1px solid red;*/
    width: 80%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.works .worksContainer .line {
    width: 100px;
    height: 2px;
    background-color: #d728d7;
    margin-bottom: 25px;
}

.works .worksContainer .myWorks {
    width: 100%;
    /*border: 1px solid lime;*/
    display: flex;
    justify-content: space-between;
}

.works .worksContainer .myWorks .work {
    display: flex;
    flex-direction: column;
}

.works .worksContainer .myWorks .work .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 256px;
    background: #28d728;
}

.works .worksContainer .myWorks .work .img img {
    width: 256px;
}

.works .worksContainer .myWorks .work .about {
    margin: 15px;
    padding: 5px;
    background: #28d728;
    width: 216px;
    height: 80px;
    color: black;
}

@media screen and (max-width: 656px){
    .works .worksContainer .myWorks {
        flex-direction: column;
        align-items: center;
    }
}